.nav-bar {
  .logo-icon {
    width: 125px;
  }
  .grommetux-anchor {
    font-size: 16px;
    padding-top: 6px;
    padding-bottom: 6px;
    color: #fff !important;
  }
  .grommetux-anchor:hover {
    font-size: 16px;
    padding-top: 6px;
    padding-bottom: 6px;
    color: #01a680 !important;
  }
}